@charset "utf-8"; /* CSS Document www.iP21.cl*/
body {
background:#343434;
}
*{
    margin:0px;
    padding:0px;
}

img {
border:0;
}

h1 {
	font-family:"Arial", Tahoma, Verdana, Helvetica, sans-serif;
	font-size:16px;
	color:#ff9600;
	
	}
p {
    text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
    color:#8e8f90;
	}
strong {
	font-weight:bold;
	}
#universal-wrapper {
	width:100%;
	background:#ffffff;
	height:auto;
	margin:0 auto;
	overflow:hidden;
	}
	
#wrapper {
	width:940px;
	height:auto;
	margin:0 auto;
	}
#header {
	width:940px;
	height:150px;
	background: url('img/header-bg.png') 0 0 no-repeat;
	margin-bottom:5px;
	}
#header-title {
	width:auto;
	line-height:30px;
	margin:90px 0 0 122px;
	font-family:"Arial", Tahoma, Verdana, Helvetica, sans-serif;
	font-size: 16px;
	color:#FFF;
	float:left;
}	
/*****MENU DE NAVEGACION *****/
 
#nav {
	width:938px;
	height:40px;
	margin: 0 auto 0 auto;
	text-align:center;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #f5f5f5 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#dfdfdf');
	background-color:#f5f5f5;
	-moz-border-radius:5px 5px 0 0 ;
	-webkit-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	border-top:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
	border-left:1px solid #dcdcdc;

	
}
.catnav {
	width:100%;
	margin:0 auto;
	float:left;
}
.catnav ul {
	list-style: none;
	margin-left:0px;
	margin-top:0em;
	padding:0em;


}

.catnav li {
	margin: 0;
	margin-left:0;
	padding: 0;
	list-style-type: none;
	float:left;
}

.catnav a	{
	display: block;
	line-height:40px;
	margin: 0;
	padding: 0 25px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	font-weight:bold;
	color:#abaaaa;
	list-style-type: none;
	text-decoration: none;
}
.catnav li a:link {
	color: #abaaaa;
	text-decoration: none;
}
.catnav li ul {

margin:0;
padding:0;
border-left:1px solid #e1e1e1;
border-right:1px solid #e1e1e1;

}
 .catnav li ul li{
float:inherit;
margin:0;
padding:0;
border-bottom:1px solid #e1e1e1;

}
.catnav li a:hover {
 color: #5ebbf6;
 text-decoration: none;
 background:#e1e1e1;
 }
 
.catnav li ul {
 list-style: none;
 position: absolute;
 width: auto;
 left: -999em;
 z-index: 1500;
 }
 
.catnav li:hover ul, #nav li.sfhover ul {
 left: auto;
 }
 
.catnav li li {

 margin: 0;
 padding:0;
 }
 
.catnav li li a {

line-height: 20px;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:10px;
 font-style:normal;
color: #dd0d0d0;
background:#fff;
margin:0;
padding:5px 25px;
text-align:left;
 }
 
.catnav li li a:hover {
 background:#fff;
 color:#5ebbf6;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 font-size:10px;
 font-style:normal;
 }
 
.catnav li:hover, .catnav li.sfhover { /* prevents IE7 drop-down menu bug (focus on a page 
 
element prevents nested menus from disappearing) */
 position: static;overflow:hidden;
 }
.catnav li a.active, .catnav li a:hover {
	color: #5ebbf6;
	text-decoration: none;
	background: url('img/nav-arrow.png') no-repeat bottom;
	
}
/*****FIN MENU DE NAVEGACION *****/

/*++++++++ BARRA USUARIO HORIZONTAL */

#where-who {
	width:888px;
	height:50px;
	padding: 0 25px;
	overflow:hidden;
	background:#FFF;
	border-bottom:1px solid #dedede;
	}
.where, .where-forward {
	float:left;
	line-height:50px;
	padding-right:10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#bfbfbf;
	text-align:left;
}

.who {
	float:right;
	height:50px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#bfbfbf;
}
.who-icon {
	height:18px;
	width:18px;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	float:right;
	margin:16px 0;
	background: url('img/user.png') center no-repeat;
	border:1px solid #e1e1e1;

	}
.who-user {
	float:right;
	padding:0 10px;
	height:18px;
	margin:16px 0;
	line-height:18px;
	}
.cerrar-sesion {
	height:18px;
	line-height:18px;
	margin:16px 0;
	float:right;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
	padding:0 10px;
	border:1px solid #e1e1e1;
	}
.cerrar-sesion a:link, .cerrar-sesion a:visited {
	text-decoration:none;
	color:#bfbfbf;
	}
.cerrar-sesion a:hover {
	text-decoration:none;
	color:#ff9600;
	}

/*++++++++ FIN BARRA USUARIO HORIZONTAL */

/*++++++++ INICIO MENU IZQUIERDA */
#left-nav-bar {float:left;width:177px;}
.left-catnav {float:left}
.left-catnav ul {
	list-style: none;
	margin-left:0px;
	margin-top:0em;
	padding:0em;
}

.left-catnav  li {
	margin: 0;
	margin-left:0;
	padding: 0;
	list-style-type: none;
	width:177px;
}
.left-catnav a {
	background:url('img/left-nav-inactive-arrow.png')left  no-repeat;
	background-color:#FFF;
	border-top:1px solid #fff;
	border-bottom:1px solid #dcdcdc;
	display:block;
	color:#8c8c8c;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	}
.left-catnav a.active{
	background:url('img/left-nav-active-arrow.png')left  no-repeat;
	background-color:#00527d;
	color:#ffffff;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	border-bottom:1px solid #002236;
}
.left-catnav a:hover{
	background:url('img/left-nav-hover-arrow.png')left no-repeat;
	-webkit-transition:background-color 0.2s linear;  
	-moz-transition:background-color 0.2s linear;  
	-o-transition:background-color 0.2s linear;   
	transition:background-color 0.2s linear;  
	background-color:#eee;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 24px;
	color:#00527d;
	border-top:1px solid #fff;
	border-bottom:1px solid #dcdcdc;
}



/*++++++++ FIN MENU IZQUIERDA */

/*++++++++ INICIO  RIGHT CONTAINER */
#right-container {float:right;width:760px;background:#FFF;border-left:1px solid #DEDEDE !important}
.right-container-title {padding: 15px 20px;}
/*++++++++ FIN RIGHT CONTAINER*/
/* FORMULARIO */
#wrapper-formulario{
  
    width:900px !important;
    overflow:hidden;
	margin-left:20px;
	border:0;
	background:#FFF;
}
#formulario-title {
    height:32px;
}
#formulario-title ul{
    list-style:none;
	float:left;
	margin-left:0px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
#formulario-title ul li{
	float:left;
    border-top:1px solid #e1e1e1;
    border-left:1px solid #e1e1e1;
    border-right:1px solid #e1e1e1;
    position:relative;
	margin:0px 0px;
	-moz-border-radius:3px 3px 0 0;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
	
}
#formulario-title ul li a{
    display:block;
    height:30px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
    color:#c4c4c4;
    outline:none;
    font-weight:bold;
    text-decoration:none;
    line-height:32px;
    padding:0 15px 0 20px;
	border-top:1px solid #fff;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
	margin-bottom:-2px;
	height:32px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
    color:#009bfe;
    text-shadow:1px 1px 1px #fff;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ededed 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
	background-color:#fff;
	-moz-border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;    
}
span.step-number {margin:0 5px 0 0;padding:1px 5px;border:1px solid #e1e1e1 ;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;font-size:14px;font-weight:bold;font-style:italic}

.formulario-container {border-top:1px solid #e1e1e1;border-right:1px solid #e1e1e1;border-left:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;-moz-border-radius:0 0 3px 3px;-webkit-border-radius: 0 0 3px 3px;
								border-radius:0 0 3px 3px;-moz-box-shadow:0px 0px 3px #e1e1e1;-webkit-box-shadow:0px 0px 3px #e1e1e1;box-shadow:0px 0px 3px #e1e1e1;overflow:hidden;padding:5px 0 15px 0;
								height:100%}
.formulario-table-box {clear:left;float:left;margin:15px 0 0 15px;padding:0;overflow:hidden;width:688px !important;}
.formulario-fields-box {clear:left;float:left;margin:15px 0 0 15px;padding:10px 0;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border:1px solid #e1e1e1;overflow:hidden;width:686px !important;}
.formulario-fields-box h1{display: block-inline;margin-right: 0;line-height: 26px;font-family: Arial, Helvetica, sans-serif;font-size: 11px;font-weight: bold;color: #009BFE;text-shadow: 1px 1px 1px white;padding:0 15px;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid #e1e1e1}

.formulario-fields-left-col {float:left;width:313px !important;padding:0 15px}
.formulario-fields-right-col {float:right;width:313px !important; padding:0 15px}
.formulario-fields-center-col {float:left;width:656px !important; padding:0 15px}

.formulario-fields-left-col form p, 
.formulario-fields-center-col form p, 
.formulario-fields-right-col form p{ 
float:left;clear:both;margin:10px 0;background-color:#fff;width:312px;padding:0;
}
.formulario-fields-left-col form p label, 
.formulario-fields-center-col form p label, 
.formulario-fields-right-col form p label {
    width:150px;
    float:left;
    text-align:left;
    margin-right:0;
    line-height:26px;
	height:26px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
    color:#8e8f90;
    text-shadow:1px 1px 1px #fff;
}
.formulario-fields-left-col form p label-b, 
.formulario-fields-center-col form p label-b, 
.formulario-fields-right-col form p label-b {
    width:150px;
    float:left;
    text-align:left;
    margin-right:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
    color:#8e8f90;
    text-shadow:1px 1px 1px #fff;
}
.formulario-fields-left-col form input:not([type=radio]),
.formulario-fields-center-col form input:not([type=radio]),
.formulario-fields-right-col form input:not([type=radio]),
.formulario-fields-left-col form textarea,
.formulario-fields-center-col form textarea,
.formulario-fields-right-col form textarea,
.formulario-fields-left-col form date,
.formulario-fields-center-col form date,
.formulario-fields-right-col form date,
.formulario-fields-left-col form number,
.formulario-fields-center-col form number,
.formulario-fields-right-col form number {
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    width: 140px;
	min-width:140px;
    float:right;
	height:26px;
	padding:0 5px;
	text-transform:uppercase;
	color:#666;
}
.formulario-fields-left-col form select, 
.formulario-fields-center-col form select, 
.formulario-fields-right-col form select {
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
	height:28px;
	padding:5px;
    width: 153px;
    float:right;
	font-size:11px;
}

.formulario-fields-left-col form input:focus,
.formulario-fields-center-col form input:focus,
.formulario-fields-right-col form input:focus {-moz-box-shadow:0px 0px 3px #aaa;-webkit-box-shadow:0px 0px 3px #aaa;box-shadow:0px 0px 3px #aaa;background-color:#FFFEEF;}

.recordatorio {width:250px;line-height:44px;margin-left:20px;float:left;font-family:Arial, Helvetica, sans-serif;font-style:italic;font-size:11px;color:#c10000;text-align:left;}
.next-button-bar {width:685px;height:44px;float:left;margin:15px 0 0 15px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;border:1px solid #e1e1e1;padding:10px 0;}
.prev-button {width:170px;height:44px;float:left;margin-left:20px;	}
.next-button {height:44px;float:right;margin-right:20px;text-align:right}
.container-button {float:right;margin-top:7px;margin-right:15px;text-align:right;}

/* BOTON ACTIVAR*/
.button-reg-bar {width:100%;padding:0;border-top:1px solid #e1e1e1;float:left}
.cancel-button {float:right;margin-top:7px;margin-right:20px;text-align:right}
.boton-activar {
	-moz-box-shadow:inset 0px 1px 0px 0px #50a0eb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #50a0eb;
	box-shadow:inset 0px 1px 0px 0px #50a0eb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0775a8), color-stop(1, #206599) );
	background:-moz-linear-gradient( center top, #0775a8 5%, #206599 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0775a8', endColorstr='#206599');
	background-color:#0775a8;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #6691ad;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}.boton-activar:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #206599), color-stop(1, #0775a8) );
	background:-moz-linear-gradient( center top, #206599 5%, #0775a8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#206599', endColorstr='#0775a8');
	background-color:#206599;
}.boton-activar:active {
	position:relative;
	top:1px;
}
/* FIN BOTON ACTIVAR*/
/* BOTON CANCELAR*/
.boton-cancelar {
	-moz-box-shadow:inset 0px 1px 0px 0px #c3c3c3;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c3c3c3;
	box-shadow:inset 0px 1px 0px 0px #c3c3c3;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #979797), color-stop(1, #999999) );
	background:-moz-linear-gradient( center top, #979797 5%, #999999 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#979797', endColorstr='#999999');
	background-color:#979797;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	
}.boton-cancelar:hover {
	-webkit-transition:background-color 0.4s linear;  
	-moz-transition:background-color 0.4s linear;  
	-o-transition:background-color 0.4s linear;   
	transition:background-color 0.4s linear; 
	background:#620000;
}.boton-cancelar:active {
	position:relative;
	top:1px;
}
/* FIN BOTON CANCELAR*/



/* FIN FORMULARIO*/

/*	INICIO TABLA GENERAL */
#tabla-general {width:100%; border:1px solid #e1e1e1;  -webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;border-top-left-radius:3px;border-top-right-radius:3px;}
#tabla-general tr.campos {background: #e9e9e9;font-family:Arial, Helvetica, sans-serif;font-size:11px;font-weight:bold;color:#03568c;text-align:center;height:20px;}

#tabla-general tr.header {
	width:100%;
	height:50px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#146194;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #ededed 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
	background-color:#fff;
	border-top:1px solid #fff;
    border-right:1px solid #fff;
    border-left:1px solid #fff;
    border-bottom:1px solid #000;
	-moz-border-radius:3px 3px 0 0;
    -webkit-border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
}
#tabla-general tr.light, #tabla-general tr.dark {font-family:Arial, Helvetica, sans-serif;font-size: 11px;color:#000;text-align:center;height:30px;}
#tabla-general tr.light {background:#f3f2f2;}
#tabla-general tr.dark {background: #f9f9f9;}

/*	FIN TABLA GENERAL */

/* BARRA BUSQUEDA TABLA */
#barra-busqueda {width:100%;height:50px;padding:0;}
.barra-busqueda-box-left {height:50px;line-height:50px;text-align:left;margin-left:15px;float:left;color:#146194;}
.barra-busqueda-box-right {height:50px;line-height:50px;text-align:left;margin-right:15px;float:right;color:#146194;}
#barra-busqueda input:not([type=radio])	{
    background:url('img/search_lens.png') center right no-repeat #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding:5px;
    width: 190px;
	min-width:190px;
    float:right;
	margin: 10px 0;
}
#barra-busqueda select {
    background: #ffffff;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding:5px;
    width: 60px;
    float:right;
	font-size:11px;
	margin: 10px 0;
}
/* FIN BARRA BUSQUEDA TABLA */

/* PAGINADOR */

#pagination-container {
float:left;
width:100%;
text-align:right;
margin:0 auto;
height:50px;
}
.pagination-entradas-container	{
	width:100%;
	margin:0 auto;
	padding-right:304px;
	}
#pagination {
display:inline-block;
border:0;
margin:15px 15px 10px 0;
padding:0px;
clear:both;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#836d93;

}

#pagination ul {
border:0;
margin:0px;
padding:0px;
}
#pagination li {
display:block;
float:left;
border:0;
margin:0;
padding:0;
font-size:11px;
text-align:center;
font-weight:bold;
list-style:none;
}
#pagination a{
	display:inline-block;
	color:#b5b5b5;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	margin:0 4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:solid 1px #ccc;
}
#pagination .previous-off, #pagination .next-off {
width:24px;
height:14px;
padding:4px 0;
color:#3D3D3D;
display:block;
margin:0 8px 0 4px;
float:left;
border:solid 1px #ccc;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}
#pagination .next a, #pagination .previous a {
width:24px;
height:14px;
padding:4px 0;
border:solid 1px #ccc;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
background:#eeeeee;
}
#pagination .last a, #pagination .first a {

height:14px;
padding:4px 10px;
color:#3D3D3D;
display:block;
margin:0 4px 0 4px;
float:left;
border:solid 1px #ccc;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;

}
#pagination .first-off, #pagination .last-off {

height:14px;
padding:4px 10px;
color:#ccc;
display:block;
margin:0 4px 0 4px;
float:left;
border:solid 1px #ccc;
-moz-border-radius:3px;
-webkit-border-radius:3px;
-o-border-radius:3px;
-ms-border-radius:3px;
-khtml-border-radius:3px;
border-radius:3px;
}
#pagination .first-off a:hover, #pagination .last-off a:hover {
color: #000;
}
#pagination .active{
width:24px;
height:14px;
padding:4px 0;
margin-right:4px;
color:#146194;
-moz-border-radius:2px;
-webkit-border-radius:2px;
-o-border-radius:2px;
-ms-border-radius:2px;
-khtml-border-radius:2px;
border-radius:2px;
border:solid 1px #ccc;
background:#eee;
}
#pagination a:link, #pagination a:visited {

height:14px;
padding:4px 10px;
color:#ccc;
display:block;
float:left;
text-decoration:none;
}
#pagination a:hover	{
border:solid 1px #999;
color:#7c5c93;
}
.results-lister {
line-height:50px;
float:left;
padding-left:15px;
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#146194;
}
/* FIN PAGINADOR */


#main-container {
	width:938px;
	height:auto;
	background:#f2f2f2;
	border-right:1px solid #e2e2e2;
	border-left:1px solid #e2e2e2;
	overflow:hidden;
	}


#footer {
	width:100%;
	height:120px;
	margin:0 auto;
	background:#343434;
	
	}
.footer-container {
	width:940px;
	margin:0px auto;
	}
.footer-wrapper-end {
	width:938px;
	height:20px;
	margin-bottom:20px;
	background:#FFF;
	border-bottom:1px solid #e2e2e2;
	border-right:1px solid #e2e2e2;
	border-left:1px solid #e2e2e2;
	float:left;
}
.footer-wrapper-end-left-menu	{
	width:177px;
	height:20px;
	background:#f2f2f2;
	float:left;
		border-right:1px solid #e2e2e2;
}
.footer_logo {
	width:50px;
	height:57px;
	float:left;
	}
.footer_text {
margin-left: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size:10px;
font-style:normal;
color: #e3e3e3;
}